@model CustomerPoint.VehicleInfo.Models.VehicleData
<div class="col-md-6">
    <div class="form-group">
        <label>Vehicle registration</label>
        @Html.Hidden("VehicleReg", Model.Vrm)
        <p class="form-control-static">@Model.Vrm</p>
    </div>

    <div class="form-group">
        <label>Vehicle make</label>
        @Html.Hidden("VehicleMake", Model.Make)
        <p class="form-control-static">@Model.Make</p>
    </div>

    <div class="form-group">
        <label>Vehicle model</label>
        @Html.Hidden("VehicleModel", Model.Model)
        <p class="form-control-static">@Model.Model</p>
    </div>
</div>